################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Exercicio_Tetra_Calculadora/.vs/Exercicio_Tetra_Calculadora/FileContentIndex/5d67a63f-a489-4f14-b916-e962bedd3aff.vsidx
/Exercicio_Tetra_Calculadora/.vs/Exercicio_Tetra_Calculadora/FileContentIndex/5d67a63f-a489-4f14-b916-e962bedd3aff.vsidx
/Exercicio_Tetra_Calculadora/.vs/Exercicio_Tetra_Calculadora/FileContentIndex/5d67a63f-a489-4f14-b916-e962bedd3aff.vsidx
/Exercicio_Tetra_Calculadora/.vs/Exercicio_Tetra_Calculadora/FileContentIndex/5d67a63f-a489-4f14-b916-e962bedd3aff.vsidx
/Exercicio_Tetra_Calculadora/.vs/Exercicio_Tetra_Calculadora/FileContentIndex/5d67a63f-a489-4f14-b916-e962bedd3aff.vsidx
/Exercicio_Tetra_Calculadora/.vs/Exercicio_Tetra_Calculadora/FileContentIndex/5d67a63f-a489-4f14-b916-e962bedd3aff.vsidx
